* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 50px;
  scroll-behavior: smooth;
}
.container {
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 10px;
  background-color: #1c2130;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 10% 80% 10%;
  grid-template-columns: 10% 75% 15%;

  grid-template-areas:
    "hd hd hd"
    "sd files files"
    "sd files files";
}
#header {
  /* background-image: linear-gradient(to right, black, white, black,black,black,black, black); */
  background-color: #363c50; 
  grid-area: hd;
  display: grid;
  grid-template-rows: 40%;
  grid-template-columns: 15% 15% 15% 15%;
  grid-gap: 8%;

  grid-template-areas: "logo mat tt ass";
  justify-content: left;
  align-content: center;
  align-items: center;
  text-align: center;
}
.boxhd {
  border: 2px solid white;
  background-color: grey;
  border-radius: 10px;
  font-size: 18px;
  padding: 9%;
}
#logo {
  grid-area: logo;
  padding: 0%;
  background-color: #363c50;
  border: 2px solid #363c50;
}
#mat {
  grid-area: mat;
  position: relative;
  z-index: 0;
  color: white;
}
#mat::before{
  content: "";
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scaley(0);
  transform-origin: top;
  transition: all 1s;
  z-index: -1;
  border-radius: 10px;
}
#mat:hover::before{
  transform: scaleY(1);
}
#mat:hover{
  color: black;
}
#tt {
  grid-area: tt;
  position: relative;
  z-index: 0;
  color: white; 
}
#tt::before{
  content: "";
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 1s;
  z-index: -1;
  border-radius: 10px;
}
#tt:hover::before{
  transform: scaleY(1);
}
#tt:hover{
  color: black;
}
#ass {
  grid-area: ass;
  position: relative;
  z-index: 0;
  color: white;
}
#ass::before{
  content: "";
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 1s;
  z-index: -1;
  border-radius: 10px;
}
#ass:hover::before{
  transform: scaleY(1);
}
#ass:hover{
  color: black;
}
#sidebar {
  /*background-image: linear-gradient(to bottom, black,black, black, black, black,grey,grey,#d4d4d4,grey,grey,black,black,black);*/
  background-color: #363c50;
  margin-top: 5%;
  grid-area: sd;
  display: grid;
grid-template-rows: repeat(3, 10%);
  grid-template-columns: 80%;

  grid-template-areas:
/*       "course" */
    "bca"
    "bba"
    "mlt";
  grid-gap: 10%;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
.boxsd {
  border: 2px solid white;
  background-color: grey;
  border-radius: 10px;
  font-size: 15px;
  padding: 10%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.sd-bca-yr{
  border: 2px solid white;
  color: white;
  background-color: grey;
  font-size: 20px;
  border-radius: 10px;
}
#bca2{
  background-color: #1c2130;
}
#course {
  grid-area: course;
  border: 2px solid white;
  position: relative;
  z-index: 0;
}
#bca {
  grid-area: bca;
  position: relative;
  z-index: 0;
  background-color: white;
  color: black;
}
#bba {
  grid-area: bba;
  position: relative;
  z-index: 0;
}
#mlt {
  grid-area: mlt;
  position: relative;
  z-index: 0;
}
#course::before {
  content: "";
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scalex(0);
  transform-origin: left;
  transition: all 1s;
  z-index: -1;
  border-radius: 10px;
}
#course:hover::before {
  transform: scalex(1);
}
#bca::before {
  content: "";
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scalex(0);
  transform-origin: left;
  transition: all 1s;
  z-index: -1;
  border-radius: 10px;
}
#bca:hover::before {
  transform: scaleX(1);
}
#bca:hover{
  color: black;
}
#bba::before {
  content: "";
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scalex(0);
  transform-origin: left;
  transition: all 1s;
  z-index: -1;
  border-radius: 10px;
}
#bba:hover::before {
  transform: scalex(1);
}
#bba:hover{
  color: black;
}
#mlt::before {
  content: "";
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scalex(0);
  transform-origin: left;
  transition: all 1s;
  z-index: -1;
  border-radius: 10px;
}
#mlt:hover::before {
  transform: scalex(1);
}
#mlt:hover{
color: black;
}
/* #assignments {
  margin-top: 2%;
  margin-left: 5%;
  grid-area: assignments;
  display: grid;
  grid-template-rows:25% 25% 25%;
  grid-template-columns: 25% 25% 25%;
    grid-template-areas: 
    "java daa cloud"
    "cscl ds sem"
    "ftwsel ftwent mooc";
  gap: 8%;
  text-align: center;
  justify-content: space-around;
  align-items: space-evenly;
}
.boxass {
  border-radius: 20px;
  background-color: #363c50;
  font-size: 15px;
  padding: 10%;
  padding-top: 20%;
  padding-bottom: 35%;
  padding-left: 20%;
  padding-right: 20%; 
  color: white;
} 
#java{
    grid-area: java;
    border: 2px solid yellow;
    text-align: center;
}
#java:hover{
    background-color: rgb(201, 201, 48);
}
#daa{
    grid-area: daa;
    border: 2px solid blue;
    text-align: center;
}
#daa:hover{
    background-color: rgb(49, 49, 199);
}
#cloud{
    grid-area: cloud;
    border: 2px solid red;
    text-align: center;
}
#cloud:hover{
    background-color: rgb(204, 48, 48);
}
#cscl{
    grid-area: cscl;
    border: 2px solid orange;
    text-align: center;
}
#cscl:hover{
    background-color: rgb(210, 152, 43);;
}
#ds{
    grid-area: ds;
    border: 2px solid violet;
    text-align: center;
}
#ds:hover{
    background-color: rgb(195, 53, 195);
}
#sem{
    grid-area: sem;
    border: 2px solid rgb(0, 255, 0);
    text-align: center;
}
#sem:hover{
    background-color: rgb(50, 195, 50);
}
#ftwsel{
    grid-area: ftwsel;
    border: 2px solid green;
    text-align: center;
}
#ftwsel:hover{
    background-color: rgb(49, 121, 49);
}
#ftwent{
    grid-area: ftwent;
    border: 2px solid yellowgreen;
    text-align: center;
}
#ftwent:hover{
    background-color: rgb(133, 170, 60);
}
#mooc{
    grid-area: mooc;
    border: 2px solid brown;
    text-align: center;
}
#mooc:hover{
    background-color: rgb(153, 73, 73);
} */
/* #Syl {
  grid-area: syl;
  border: 2px solid yellow;
  color: white;
}
#Syl:hover {
  background-color: rgb(201, 201, 48); 
}
#Note {
  grid-area: note;
  border: 2px solid blue;
}

#Note:hover {
  background-color: rgb(49, 49, 199);
}
#Ass1 {
  grid-area: ass1;
  border: 2px solid red;
}
#Ass1:hover {
  background-color: rgb(204, 48, 48);
}
#aca {
  grid-area: aca;
  border: 2px solid orange;
}
#aca:hover {
  background-color: rgb(210, 152, 43);
}
#tt1 {
  grid-area: tt1;
  border: 2px solid violet;
}
#tt1:hover {
  background-color: rgb(195, 53, 195);
}
#mat1 {
  grid-area: mat1;
  border: 2px solid rgb(0, 255, 0);
}
#mat1:hover {
  background-color: rgb(50, 195, 50);
} */
.files{
  grid-area: files;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* gap: 5%; */
  justify-content: space-around;
  align-items: center;
  margin-top: 2%;
}
.syllabus{    
  border: 2px solid white;
  border-radius: 10px;
  /* padding-top: 10%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%; */
  background-color: yellow;
  color: black;
}
.syllabus:hover{
  background-color: rgba(210, 210, 8);
  color: white;
}

@media (max-width: 700px) {
  .syllabus{
    scale: 60%; 
  }
  .container {
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 70%;
    grid-template-areas:
      "hd"
      "sd"
      "files";
  }
  #boxsd{
    padding: 2%;
  }
  #sidebar {
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 40% 40%;
    grid-template-areas:
      "course  course course"
      "bca bba mlt";
  }
  #bca{
    padding: 5%;
    padding-left: 2%;
    padding-right: 2%
  }
  #assignments {
    grid-template-columns: 100%;
    grid-template-rows:repeat(9,1fr);
    grid-template-areas:
      "java"
      "daa"
      "cloud"
      "cscl"
      "ds"
      "sem"
      "ftwsel"
      "ftwent"
      "mooc";
  }
  #course{
    scale: 0;
  }
  #header{
  grid-template-rows: 40% 20%;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 8%;
  justify-content: center;
  align-items: center;
  grid-template-areas: 
  "logo logo logo"
  "mat tt ass";
  grid-gap: 2%;
  }
  #bca,#bba,#mlt{
    margin-bottom: 40%;
  }
  #tt,#ass{
    padding-left: 3%;
  }
  #logo{
    margin-left: 22%;
    margin-bottom: 5%;
  }
}  
#footer{
  margin-top: 2%;
  grid-area: ft;
  background-color: #1c2130;
  border: 3px solid #363c50;
  color: white;
  font-size: large;
  text-align: center;
  border-radius: 10px;
}
#sidebar2{
  grid-area: sd2;
}
figure img{
margin-right: 75px;
border-radius: 10px;
}

a{
text-decoration: none;
cursor: pointer;
}

figure{
margin-bottom: -3%;
}